.cardModel {
    height: 60%;
    width: 50%;
    background-color: #fff;
    border-radius: 10px;
    overflow: auto;
    padding: 10px;
    display: flex
;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    row-gap: 10px;
}