/* General Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  /* Container for the table */
  .table-container_v7 {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  /* Table Styling */
  .styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
  }
  
  /* Table Header Styling */
  .styled-table th {
    background-color: #71787bcf;
    color: white;
    padding: 12px 15px;
    text-align: center;
    font-size: 1.1em;
  }
  
  /* Table Row Styling */
  .styled-table td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  /* Hover Effect for Rows */
  .styled-table tr:hover {
    background-color: #f2f2f2;
  }
  
  /* Zebra Stripe Effect for Rows */
  .styled-table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  .skilHeadv12{
    padding: 20px;
  }
  .skvinput{
    padding: 14px;
  }
  .skvinput button{
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: "none";
    border-radius: 4px;
    cursor: "pointer";
  }

  .styled-table tbody tr:nth-child(even) {
    background-color: #f1f1f1;
  }
  
  /* Make the table more responsive */
  /* @media screen and (max-width: 768px) {
    .styled-table {
      width: 100%;
      font-size: 0.9em;
    }
  }
   */


   @media (max-width: 768px) {
    .table-container_v7 {
      overflow-x: auto;
    }
    .styled-table th, .styled-table td {
      font-size: 14px;
    }
  }
  