.patient_basic_details_print {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;

}


.align_label_print_head {
  border-top: 1px solid grey;
  padding: 10px;
}


.appointment_print0{
  width: 100%;

}
.align_label_print{
display: flex;
justify-content: flex-start;
gap: 5px;
font-size: 15px !important;
align-items: flex-start;
padding-bottom: 3px;
}

.align_label_print label{
  width: 140px;
  display: flex;
  justify-content: space-between;
  font-size: 16px !important;
}

.align_label_print h5{
  width: 300px;
  height: auto;
  font-size: 16px !important;

}


.text_adjust_ppd8{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 10px;

}


.text_adjust_ppd8 label{
  font-weight: bold;
  font-size: 15px 
  !important;
  
}

.text_adjust_ppd8 p {
  height: auto;
  font-size: 14px;
  display: flex;
  width: 100%;
  text-align: start;
  justify-content: flex-start;
  flex-wrap: wrap;
  word-wrap: break-word; /* Allow long words to break */
  overflow-wrap: anywhere; /* Break words at arbitrary points if needed */
}


.signature-align {
  display: flex;
  justify-content: center;
  width: 100%;
}


.signature-align-plo{
  display: flex;
  flex-direction: column;
  justify-content: center;

}


@media print {

  @page{
    size: A4;
    margin: 30px 40px 0px 40px !important;
  }



  .print_dischrge_sum {
    display: flex;
    flex-direction: column;
    /* margin:50px !important; */
    position: relative;
    left: 20px !important;
    /* right: 0px !important; */
    min-height: 100vh; /* Ensure the content covers the full viewport height */
  }


  .print_dischrge_sum table {
    page-break-inside: auto;
    width: 85% !important;
    border-collapse: collapse;
    flex-grow: 1;

  }

  .print_dischrge_sum thead {
    position: sticky;
    top: 0;
    display: table-header-group; /* Ensures thead repeats on each page */
  }

.print_dischrge_sum tfoot {
  display: table-footer-group; /* Keeps the tfoot styling */
}


.print_footerr {
  display: table-footer-group; /* Repeat the footer on each page */
height: 150px !important;
}


.hdhsj_kkw{
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}



.ehydyedyu {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background: #fff;
  position: relative;
  margin-top: auto; /* Pushes the footer to the bottom */
}

  .print_dischrge_sum tbody tr {
    page-break-inside: avoid; /* Avoid breaking rows across pages */
  }


  .signature-align {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

.edewdedw_89j{
  width: 90% !important;
  margin-left: 30px;
}
  /* body {
    margin: 0;
    counter-reset: page; 
  }

  .pageNumber::before {
    counter-increment: page;
    content: "Page " counter(page); 
  } */
}