.pdf_img_show {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: #0000008a;
}

.clse_pdf_img {
    color: var(--labelcolor);
    font-size: 30px;
    position: relative;
    border-radius: 20px;
}
